%p#notice= notice

%h1 #{@team.full_name}

%p
  %b Name:
  = @team.name
%p
  %b Geoname:
  = @team.geoname
%p
  %b Img path:
  = @team.img_path

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
